body{
    background-image: linear-gradient(pink,blue);
    color: white;
    align-items: center;
}
h1, article {
    text-align: center;
}

.body{
    display: flex;
    justify-content: space-evenly;
}

ul{
    font-size: 1.5em;
    font-weight: 200;
    font-family: Arial;
}
li{
    font-size: 0.75em;
} 

span, p{
    font-size: 1.25em;
    font-family: Helvetica;
}





